.app-container {
	display: flex;
}
.main-content {
	transition: 0.5s;
	z-index: 2;
}

.main-content.shifted {

	margin-left: 250px;
}
body:has(.main-content.shifted) {
	overflow: hidden;
}
body:has(.viewer) {
	overflow: hidden;
}
